@model BookBorrowModel

<div class="col-md-12 page-header">
    Borrow book:
</div>

<form class="form-group card p-3 bg-light" method="post" asp-controller="Home" asp-action="Borrow">
    <div class="row mb-2">
        <div class="col">@Html.TextBoxFor(model => model.ISBN, new { @class = "form-control",@placeHolder="ISBN",@readonly = "readonly"})</div>
        <div class="col">@Html.TextBoxFor(model => model.MemberId, new { @class = "form-control",@placeHolder="Memnber Id" })</div>
    </div>
    <button type="submit" class="btn btn-primary" style="float: right;">Save</button>
</form>
